Web References/LicenseServer/tplicense.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateLicenseResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="days" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Encrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EncryptResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_privateKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLicense" />
  </wsdl:message>
  <wsdl:message name="ValidateLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLicenseResponse" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapIn">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="EncryptSoapOut">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:portType name="TPLicenseSoap">
    <wsdl:operation name="ValidateLicense">
      <wsdl:input message="tns:ValidateLicenseSoapIn" />
      <wsdl:output message="tns:ValidateLicenseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <wsdl:input message="tns:EncryptSoapIn" />
      <wsdl:output message="tns:EncryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TPLicenseSoap" type="tns:TPLicenseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLicense">
      <soap:operation soapAction="http://tempuri.org/ValidateLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://tempuri.org/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TPLicenseSoap12" type="tns:TPLicenseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLicense">
      <soap12:operation soapAction="http://tempuri.org/ValidateLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Encrypt">
      <soap12:operation soapAction="http://tempuri.org/Encrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TPLicense">
    <wsdl:port name="TPLicenseSoap" binding="tns:TPLicenseSoap">
      <soap:address location="http://metathought.buddhalounge.co.za/easiq/tplicense.asmx" />
    </wsdl:port>
    <wsdl:port name="TPLicenseSoap12" binding="tns:TPLicenseSoap12">
      <soap12:address location="http://metathought.buddhalounge.co.za/easiq/tplicense.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>